

/* Estilos dos botões */


/* Exemplos de estilos diferentes para os botões */
.scrollButton:hover {
    background-color: #3498db;
    color: white;
  }
  
  .scrollButton.alt {
    background-color: #e74c3c;
    color: white;
  }
  
  .scrollButton.success {
    background-color: #2ecc71;
    color: white;
  }
  
  .scrollButton.warning {
    background-color: #f39c12;
    color: white;
  }
  
  .scrollButton.info {
    background-color: #3498db;
    color: white;
  }
  
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding: 20px;
  }
  
  #searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  
  .scrollButton {
    flex: 1;
    width: calc(20% - 15px); /* Garante até 5 botões por linha com espaço entre eles */
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .scrollButton:hover {
    background-color: #3498db;
    color: white;
  }
  
  .scrollButton.alt {
    background-color: #e74c3c;
    color: white;
  }
  
  .scrollButton.success {
    background-color: #2ecc71;
    color: white;
  }
  
  .scrollButton.warning {
    background-color: #f39c12;
    color: white;
  }
  
  .scrollButton.info {
    background-color: #3498db;
    color: white;
  }
  
  
  /* .scrollButton[data-number="1"] {
    background-color: #e74c3c;
  } */
  
  /* Adicione estilos para mais botões conforme necessário */
  
  
  
  .input-container {
    width: 98%;
    position: relative;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% );
    transform: translateY(calc(-50% - 5px));

  }
  
  .input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }